@model Task_02.Models.Booking

@{
    ViewBag.Title = "SearchHotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Search Your Hotel</h3>

<ul class="nav navbar-nav navbar-right">
    <li><h3>@Html.ActionLink("Bookings", "Index", "Bookings", routeValues: null, htmlAttributes: new { id = "bookingLink" })</h3></li>
</ul>
<br />
<br />




@using (Html.BeginForm("DisplayHotelWithSearchInfo", "Bookings", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        @*<h4>Search Your Hotel</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.from_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.from_date, new { htmlAttributes = new { @class = "form-control fromdatepicker" } })
                @Html.ValidationMessageFor(model => model.from_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.to_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.to_date, new { htmlAttributes = new { @class = "form-control todatepicker" } })
                @Html.ValidationMessageFor(model => model.to_date, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (TempData["DateView"] != null)
        {
            <div class="alert alert-info">@TempData["DateView"] </div>
        }

        @*<div class="form-group">
                @Html.LabelFor(model => model.no_of_night_stay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.no_of_night_stay, (SelectList)ViewBag.List, "-select-")
                    @Html.ValidationMessageFor(model => model.no_of_night_stay, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.no_of_adults, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.no_of_adults, (SelectList)ViewBag.List, "-select-")
                @Html.ValidationMessageFor(model => model.no_of_adults, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.no_of_children, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.no_of_children, (SelectList)ViewBag.childList, "-select-")
                @Html.ValidationMessageFor(model => model.no_of_children, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search Hotel" class="btn btn-default" />
            </div>
        </div>


    </div>


    <div class="modal-body row">
        <div class="col-md-6">
            <img src="@Url.Action("CharterHelp")" alt="Chart" />
        </div>
        <div class="col-md-6">
            <br/><br/>
            <label>Double</label>
            <p>Number of Adults allowed : 2 </p>
            <br />
            <label>Super Deluxe/Luxury</label>
            <p>Number of Adults allowed : 5 </p>
            <br />
            <label>Premium</label>
            <p>Number of Adults allowed : 7 </p>
        </div>
    </div>
}




@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/bootstrap-datepicker.js");
    @Scripts.Render("~/Scripts/bootstrap.min.js");

    <script>
        $(function () {
            $('.fromdatepicker').datepicker("setDate", "08/25/2019");
        });
        $(function () {
            $('.todatepicker').datepicker("setDate", "08/27/2019");
        });
    </script>

}
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
